<nav id="bs-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Home")">Index</a>
        </li>
        <li>
            <a href="@Url.Action("Index2", "Home")">Index2</a>
        </li>
        <li>
            <a href="@Url.Action("Index3", "Home")">Index3</a>
        </li>
        <li>
            <a href="@Url.Action("Index4", "Home")">Index4</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">ToDo</a></li>
    </ul>
</nav>