@{
    ViewBag.Title = "DemoIndexPage";
}

<h2>Demo For Angular Async Bootstrap</h2>
<div ng-controller="demoCtrl">
    <p ng-bind="message">
    </p>
</div>

@section scripts
{
    <script src="~/Content/scripts/home.index4.js"></script>
}
